h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: black;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: #df193e;
    background-color: wheat;
  }
  
  a {
    color: black;
    text-decoration: underline;
  }
  
  a:hover {
    color: #ffc107;
    text-decoration: none;
  }
  
  .container {
    background-image: url('/assets/images/about.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 3rem;
  }
  