<div class="container my-5">
    <h1>About Us</h1>
    <p>ABC Telecom is a leading provider of mobile, broadband, and phone services in the country. Our mission is to provide our customers with the best possible services and experiences, and we are committed to achieving this by constantly innovating and improving our offerings.</p>
    <p>At ABC Telecom, we understand that sometimes things can go wrong, and we are here to help. Our complaint redressal website is designed to help you quickly and easily report any issues you may be experiencing with your services, and our dedicated team of experts will work to resolve your issues as quickly as possible.</p>
    <p>We take our commitment to customer satisfaction seriously, and we are proud to have a 95% customer satisfaction rating. We believe that this is a testament to our dedication to providing the best possible services and experiences for our customers.</p>
    <p>If you have any questions or concerns, please do not hesitate to contact us. We are always here to help.</p>
  </div>