<app-track-complaint></app-track-complaint>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="text-center">Track Complaint</h3>
          </div>
          <div class="card-body">
            <form (submit)="submitFeedback()" class="feedback-form">
              <div class="form-group">
                <label for="feedbackMsg">Feedback Message:</label>
                <textarea class="form-control" id="feedbackMsg" name="feedbackMsg" [(ngModel)]="feedbackMsg"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit Feedback</button>
            </form>
          </div>
        </div>
  
        <div class="card mt-4">
          <div class="card-header">
            <h4 class="text-center">Feedback History</h4>
          </div>
          <div class="card-body">
            <div *ngFor="let f of feedbackList">
              <div *ngIf="f.role === 'customer'">
                <div class="customer-feedback">
                  <p>{{ f.feedback }}</p>
                  <span class="message-sender">You
                    <span class="message-date" style="float: right;">{{ f.currentDateTime | date:'MMM d, yyyy h:mm a' }}</span>
                  </span>
                  
                </div>
              </div>
              <div *ngIf="f.role === 'engineer'">
                <div class="engineer-feedback">
                  <p>{{ f.feedback }}</p>
                  <span class="message-sender">Engineer
                    <span class="message-date" style="float: right;">{{ f.currentDateTime | date:'MMM d, yyyy h:mm a' }}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
