<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Password</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of managers">
        <td>{{ m.name }}</td>
        <td>{{m.mobile }}</td>
        <td>{{ m.email }}</td>
        <td>{{ m.password }}</td>
        <td><button class="btn btn-outline-primary" (click)="updateform(m)">Update</button> &nbsp;
          <button class="btn btn-outline-danger" (click)="deleteForm(m.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table> 