<div class="row">
    <div class="col-sm-6"><img src="/assets/images/createCustomer.jpg" class="image"></div>
    <div class="col-sm-6">
    <form [formGroup]="customer" (ngSubmit)="onSubmit()" novalidate>
        <h2>Create Customer</h2>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="name">Name : </label>
            </div>
            <div class="col-md-9">
                <input type="text" id="name" formControlName="name" class="form-control">
                <div *ngIf="customer.get('name')?.touched && customer.get('name')?.invalid" class="error-message">
                    <div *ngIf="customer.get('name')?.errors?.['required']">Name is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="mobile">Mobile : </label>
            </div>
            <div class="col-md-9">
                <input type="text" id="mobile" formControlName="mobile" class="form-control">
                <div *ngIf="customer.get('mobile')?.touched && customer.get('mobile')?.invalid" class="error-message">
                    <div *ngIf="customer.get('mobile')?.errors?.['required']">Mobile is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="email">Email : </label>
            </div>
            <div class="col-md-9">
                <input type="text" id="email" formControlName="email" class="form-control">
                <div *ngIf="customer.get('email')?.touched && customer.get('email')?.invalid" class="error-message">
                    <div *ngIf="customer.get('email')?.errors?.['required']">Email is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="password">Password : </label>
            </div>
            <div class="col-md-9">
                <input type="password" id="password" formControlName="password" class="form-control">
                <div *ngIf="customer.get('password')?.touched && customer.get('password')?.invalid" class="error-message">
                    <div *ngIf="customer.get('password')?.errors?.['required']">Password is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label>Services : </label>
            </div>
            <div class="col-md-9">
                <div class="row services">
                    <div class="col-md-4"><input type="checkbox" class="form-check-input" formControlName="mobileService">Mobile</div>
                    <div class="col-md-4"><input type="checkbox" class="form-check-input" formControlName="landLineService">LandLine</div>
                    <div class="col-md-4"><input type="checkbox" class="form-check-input" formControlName="broadbandService">BroadBand</div>
                </div>
               
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="address">Address : </label>
            </div>
            <div class="col-md-9">
                <textarea formControlName="address" rows="3" cols="50" class="form-control">
                    Enter text here...
                </textarea>
                <div *ngIf="customer.get('address')?.touched && customer.get('address')?.invalid" class="error-message">
                    <div *ngIf="customer.get('address')?.errors?.['required']">Address is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="state">State : </label>
            </div>
            <div class="col-md-9">
                <select class="form-control" formControlName="state" (change)="getCities($event)">
                    <option *ngFor="let s of states" value={{s.name}}>{{s.name}}</option>
                </select>
                <div *ngIf="customer.get('state')?.touched && customer.get('state')?.invalid" class="error-message">
                    <div *ngIf="customer.get('state')?.errors?.['required']">State is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="city">City : </label>
            </div>
            <div class="col-md-9">
                <select class="form-control" formControlName="city">
                    <option *ngFor="let c of cities" value={{c.name}} (change)="getCities(c.name)">{{c.name}}</option>
                </select>
                <div *ngIf="customer.get('city')?.touched && customer.get('city')?.invalid" class="error-message">
                    <div *ngIf="customer.get('city')?.errors?.['required']">city is required</div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label for="pincode">PinCode : </label>
            </div>
            <div class="col-md-9">
                <input type="text" id="pincode" formControlName="pincode" class="form-control">
                <div *ngIf="customer.get('pincode')?.touched && customer.get('pincode')?.invalid" class="error-message">
                    <div *ngIf="customer.get('pincode')?.errors?.['required']">pinCode is required</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <br>
            <button type=" submit" class="btn btn-success" [disabled]="customer.invalid">Submit</button>
        </div>
    </form>
</div>
