<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-lUDsfnMuxxW+1sM/ZbJgTNtbukKlEzJoZP8IlZbMKO9blg7LYG+/fU6Q32U6aE/9JiA/1pCxntCmRyvTnNkLHA==" crossorigin="anonymous" />
</head>
<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contact Us:</h5>
        <ul class="list-unstyled">
          <li>Email: support@broadbandmobilephone.com</li>
          <li>Phone: 1-800-XXX-XXXX</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Address:</h5>
        <p>Broadband & Mobile Phone Complaint Redressal</p>
        <p>123 Main Street</p>
        <p>Anytown, USA 12345</p>
      </div>
      <div class="col-md-4">
        <h5>Connect With Us:</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/broadbandmobilephone"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="https://twitter.com/broadbandmobilephone"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="https://www.instagram.com/broadbandmobilephone"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-secondary text-center py-2">
    <p class="mb-0">&copy; 2023 Broadband & Mobile Phone Complaint Redressal. All rights reserved.</p>
  </div>
</footer>
